{% extends "base.html.twig" %}

{% block title %}
	Produit
{% endblock %}

{% block h1 %}
	Produit
{% endblock %}


{% block body %}

	<div class="container">

		<div class="container">

			<a class="btn btn-dark my-3" href="{{ path('app_vehicule') }}">Retour</a>


			<div class="row">
				<div class="col-md-6">
					{% if voiture.image %}
						<img src="{{asset('images/'~ voiture.image)}}" width="80%" class="img300" alt="">
					{% else %}
						<img src="{{ asset('images/imageDefault.jpg') }}" alt="" width="100%" class="img300">
					{% endif %}
				</div>

				<div class="col-md-6">

					<strong>Vehicule N° :
					</strong>
					{{ voiture.id }}

					<h1>{{ voiture.titre|capitalize }}</h1>

					<strong>Prix :
					</strong>
					{{ voiture.prix }}€
					<br/><br/>

					<strong>Description :
					</strong>
					<p>
						{% if voiture.description %}
							{{ voiture.description|capitalize }}
						{% else %}
							<span class="text-danger fst-italic">
								Aucune description</span>
						{% endif %}

					</p>
					<br/><br/>

					<strong>Date d'enregistrement :
					</strong>
					{{ voiture.enregisterAt|date("l d F Y H:i:s") }}


					<br/><br/><br/><br/>
					<a href="{{ path('app_commande_new') }}" class="btn btn-success col-12">Louer cette voiture
						<i class="bi bi-cart2 text-white"></i>
					</a>

				</div>

			</div>

		</div>


	</div>


{% endblock %}
