{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateur
{% endblock %}

{% block body %}
	<div class="container">

		<h1>Gestion des utilisateur</h1>
		<hr>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Email</th>
					<th>Roles</th>
					<th>EnregisrerAt</th>
					<th>Fiche</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.nom }}</td>
						<td>{{ user.prenom }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.enregisrerAt ? user.enregisrerAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>
							<a href="{{ path('app_admin_user_show', {'id': user.id}) }}">
								<i class="fa-solid fa-eye fs-4 text-success ms-1"></i>
							</a>
						</td>
						<td>
							<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">
								<i class="fa-solid fa-pen-to-square fs-4 ms-3"></i>
							</a>
						</td>
						<td>
							{{ include('admin_user/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_admin_user_new') }}">Create new</a>

	</div>
{% endblock %}
